body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  width: 1600px;
  position: relative;
}
.container {
  width: 1200px;
  margin: auto;
}
header {
  border-bottom: 1px solid #ececec;
}
header .container {
  padding: 24px 0px;
  align-items: center;
  display: flex;
  background-color: #fff;
}
footer {
  background-color: #2f303a;
  padding: 60px 0px 60px 0px;
}
footer .container {
  display: flex;
  gap: 70px;
}
.logo {
  margin: 0px;
  text-decoration: none;
  font-family: "Raleway";
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.black {
  color: #000;
}
.white {
  color: #fff;
}

.nav-list {
  list-style: none;
  display: inline-flex;
  margin-left: 47px;
  padding: 0px;
}
.nav-item {
  margin-left: 46px;
}
.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:focus {
  text-decoration: none;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-link:hover {
  text-decoration: none;
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-nav {
  margin-left: 345px;
}
.contact-link {
  display: inline-block;
  text-decoration: none;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav .contact-link:not(:first-child) {
  margin-left: 50px;
}
.contact-nav .contact-link:hover:not(:first-child) {
  margin-left: 50px;
}
.contact-nav .contact-link:focus:not(:first-child) {
  margin-left: 50px;
}
.contact-link:hover {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.contact-link:focus {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
address {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  padding-bottom: 9px;
  margin: 0px;
}
.contact-footer .contact-link {
  padding-top: 9px;
}
.order-box {
  background-color: #2f303a;
  text-align: center;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/background-orderbox.jpg") no-repeat;
  background-size: cover;
  max-width: 1600px;
}
h1 {
  margin: 0px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #fff;
}
.order-button {
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 210px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #fff;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
section {
  padding: 94px 0px;
  margin: auto;
}
.lorem-box {
  padding-bottom: 0px;
}
.lorem-list {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.lorem-header {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.lorem-describe {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
  padding-top: 10px;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}
.workimg-box {
  display: flex;
  justify-content: space-between;
}
section.bottom {
  background-color: #f5f4fa;
}
.ourteam-box {
  display: flex;
  justify-content: space-between;
}
.ourteam-card {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}
.job-title {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  padding-bottom: 16px;
  margin: 0px;
}
.portfolio-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  list-style: none;
}

.portfolio-button {
  margin-left: 8px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-weight: 500;
  border: 0px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0px;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  margin-left: 8px;
}
.portfolio-button:focus {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: 0px;
  cursor: pointer;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  margin-left: 8px;
}
.project-container {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.project-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.project-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}
.contact-link .icon-contact {
  fill: #757575;
  margin-right: 10px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover .icon-contact {
  fill: #2196f3;
  margin-right: 10px;
}
.contact-link:focus .icon-contact {
  fill: #2196f3;
  margin-right: 10px;
}

.icon-contact {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-envelop {
  width: 16px;
  height: 12px;
}
.icon-mobile {
  width: 10px;
  height: 16px;
}
.icon-lorem {
  display: inline-block;
  width: 70px;
  height: 70px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  text-align: center;
}
.lorem-svgbox {
  width: 270px;
  height: 120px;
  border: 0px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.ourclient-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ourclient-card {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ourclient-card:hover {
  width: 170px;
  height: 92px;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.ourclient-card:focus {
  width: 170px;
  height: 92px;
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.ourclient-card:hover .company-logo {
  fill: #2196f3;
}
.ourclient-card:focus .company-logo {
  fill: #2196f3;
}
.company-logo {
  display: inline-block;
  width: 106px;
  height: 60px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #afb1b8;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socialmedia-list {
  padding: 0px 32px 30px 32px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #afb1b8;
  border-radius: 50%;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover {
  display: inline-block;
  width: 44px;
  height: 44px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
  border-radius: 50%;
  background-color: #2196f3;
}
.social-link:focus {
  display: inline-block;
  width: 44px;
  height: 44px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
  border-radius: 50%;
  background-color: #2196f3;
}
.join-us {
  font-family: "Roboto";
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footersocial-box .socialmedia-list {
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
.footersocial-box .socialmedia-list .socialmedia-item {
  margin-right: 10px;
}
.footersocial-box .socialmedia-list .socialmedia-item .social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footersocial-box .socialmedia-list .socialmedia-item .social-link:hover {
  display: inline-block;
  width: 44px;
  height: 44px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
  border-radius: 50%;
  background-color: #2196f3;
}
.footersocial-box .socialmedia-list .socialmedia-item .social-link:focus {
  display: inline-block;
  width: 44px;
  height: 44px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
  border-radius: 50%;
  background-color: #2196f3;
}
.mainsite::after {
  display: flex;
  content: "";
  color: #2196f3;
  position: absolute;
  width: 53px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  top: 95.5px;
}
.portfoliosite::after {
  display: flex;
  content: "";
  color: #2196f3;
  position: absolute;
  width: 53px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  top: 95.5px;
}
.workimg-card {
  position: relative;
}
.workimg-describe {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 210px;
  display: flex;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.portfolio-describe {
  position: absolute;
  top: 214px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  width: 370px;
  background: rgba(33, 150, 243);
  transition: 500ms;
  margin: 0px;
  opacity: 0;
  padding: 49px 45px 49px 24px;
  height: 80px;
}
.project-card {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover .portfolio-describe {
  opacity: 0.9;
  height: 294px;
  top: 0px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:focus .portfolio-describe {
  opacity: 0.9;
  height: 294px;
  top: 0px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card:hover {
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.project-card:focus {
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@keyframes changeScale {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.backdrop {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-attachment: fixed;
}
.modal {
  animation-name: changeScale;
  animation-duration: 2000ms;
  position: fixed;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  background-color: #fff;
  top: 50px;
  left: 536px;
}
.close-btn {
  position: absolute;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.x-btn {
  position: absolute;
  top: 5.5px;
  left: 5.5px;
  display: inline-block;
  width: 18px;
  height: 18px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #000;
}
